<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__item">
        <h1 class="hero__title">Оборудование <br> Воздухоотчистки</h1>
      </div>
      <div class="hero__item">
        <h2 class="hero__subtitle">Комплексная разработка решений для промышленной очистки воздуха от выбросов, пыли и запахов.</h2>
        <p class="hero__text">Устранение проблем промышленной загрязненности воздуха: комплексные решения.</p>
        <div class="hero__button-inner">
          <a class="hero__button button button--contour-color" href="#" data-popup-open>подобрать решение</a>
          <a class="hero__button button button--contour-light" data-popup-min-open>оставить заявку</a>
        </div>
        <div class="hero__icon-wrapper">
          <div class="hero__icon-inner">
            <div class="hero__icon-shell">
              <svg class="hero__icon">
                <use href="./assets/images/svg/set.svg#hero-icon-1"></use>
              </svg>
            </div>
            <p class="hero__icon-text">Оборудование под задачи Заказчика</p>
          </div>
          <div class="hero__icon-inner">
            <div class="hero__icon-shell">
              <svg class="hero__icon">
                <use href="./assets/images/svg/set.svg#hero-icon-2"></use>
              </svg>
            </div>
            <p class="hero__icon-text">Дешевле конкурентовна 20%</p>
          </div>
          <div class="hero__icon-inner">
            <div class="hero__icon-shell">
              <svg class="hero__icon">
                <use href="./assets/images/svg/set.svg#hero-icon-3"></use>
              </svg>
            </div>
            <p class="hero__icon-text">Срок службы от 10 лет с гарантией на 2 года</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>