.popular
  background-color: $background-dark-color
  @include section-indentP

  &__subtitle
    @include color-text(#ADADAD)

  &__title
    @include color-text(#fff)
    margin-bottom: 36px

  &__inner
    max-height: 620px
    overflow: auto
    padding-right: 16px
    &::-webkit-scrollbar
      width: 2px              /* ширина scrollbar */
    &::-webkit-scrollbar-track
      background: #767676       /* цвет дорожки */
    &::-webkit-scrollbar-thumb
      background-color: #FFF  /* цвет плашки */
      border-radius: 20px      /* закругления плашки */
      border: 3px solid #FFF /* padding вокруг плашки */
    @media #{$tablet}
      overflow: visible
      max-height: 100%
      padding-right: 0

  &__item-wrapper
    &--last
      @media #{$tablet}
        display: none!important
    &:first-child
      display: grid
      grid-template-columns: 390px repeat(2, 1fr)
      grid-template-rows: repeat(2, 1fr)
      gap: 14px
      margin-bottom: 14px
      @media #{$tablet}
        grid-template-columns: repeat(2, 1fr)
      @media #{$tablet-small}
        grid-template-columns: 1fr
      & .popular__item:first-child
        grid-row: 1 / 3
        grid-column: 1 / 1
        @media #{$tablet}
          grid-row: auto
          grid-column: auto
    &:last-child
      display: grid
      grid-template-columns: repeat(2, 1fr) 390px
      grid-template-rows: repeat(2, 1fr)
      gap: 12px
      & .popular__item:last-child
        grid-row: 1 / 3
        grid-column: 3 / -1


  &__item
    position: relative
    display: flex
    flex-direction: column
    justify-content: flex-end
    padding: 55px 20px 20px
    background-image: url("../images/popular/1.jpg")
    @supports (background-image: url("../images/popular/1.webp"))
      background-image: url("../images/popular/1.webp")
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    transition: background .4s
    &:before
      content: ''
      transition: all .4s
    &:hover
      &:before
        background: rgba(0, 153, 153, 0.77)
        backdrop-filter: blur(6px)
      & .popular__item-text
        color: #fff
    &:before
      content: ''
      position: absolute
      inset: 0
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.36) 0%, rgba(0, 0, 0, 0.82) 100%)
      pointer-events: none

  &__item-subtitle
    @include color-text(#fff)
    margin-bottom: 12px

  &__item-text
    @include color-text(#AFAFAF)
    margin-bottom: 20px
    transition: color .4s

  &__item-button
    @include button
    @include button-contour-light

  &__link
    display: flex
    align-items: center
    justify-content: flex-end
    @include link
    @include color-text(#fff)
    @include arrow-hover
    margin-top: 48px
    text-align: end

  &__link-icon
    max-width: 32px
    max-height: 18px