<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <ul class="footer__list">
        <li class="footer__item"><a class="footer__item-link" href="#"> <img class="logo" src="./assets/images/logo/logo-black.png" alt="Логотип"></a></li>
        <li class="footer__item"><a class="footer__item-link" href="tel:88008008080">8(800)800 80-80</a></li>
        <li class="footer__item"><a class="footer__item-link" href="mailto:example@mail.ru">example@mail.ru</a></li>
      </ul>

      <ul class="footer__list">
        <li class="footer__item"><a class="footer__link" href="#">Главная</a></li>
        <li class="footer__item"><a class="footer__link" href="#">О компании</a></li>
        <li class="footer__item"><a class="footer__link" href="#">Кейсы</a></li>
        <li class="footer__item"><a class="footer__link" href="#">Контакты</a></li>
      </ul>
      <ul class="footer__list">
        <li class="footer__item"><a class="footer__link" href="#">Оборудование</a></li>
        <li class="footer__item"><a class="footer__link" href="#">Sorption 5000</a></li>
        <li class="footer__item"><a class="footer__link" href="#">Ne 12000</a></li>
        <li class="footer__item"><a class="footer__link" href="#">Ne scrub 5000</a></li>
        <li class="footer__item"><a class="footer__link" href="#">Ne scrub 3000</a></li>
      </ul>
      <ul class="footer__list">
        <li class="footer__item"><a class="footer__link" href="#">Отрослевые решения</a></li>
        <li class="footer__item"><a class="footer__link" href="#">Производство лакокрасочных материалов (ЛКМ).</a></li>
        <li class="footer__item"><a class="footer__link" href="#">Окрасочные и сушильные камеры промышленных </a></li>
        <li class="footer__item"><a class="footer__link" href="#">Цветная металлургия</a></li>
        <li class="footer__item"><a class="footer__link" href="#">Производство полимерных изделий</a></li>
        <li class="footer__item"><a class="footer__link" href="#">Хранение и розлив нефтепродуктов</a></li>
      </ul>
      <ul class="footer__list">
        <li class="footer__item"><a class="footer__link" href="#">Предприятия Водоканала, очистные сооружения</a></li>
        <li class="footer__item"><a class="footer__link" href="#">Пищевая промышленность</a></li>
        <li class="footer__item"><a class="footer__link" href="#">Производство ароматизаторов</a></li>
        <li class="footer__item"><a class="footer__link" href="#">Полиграфические производство</a></li>
        <li class="footer__item"><a class="footer__link" href="#">Лазерная резка</a></li>
      </ul>

    </div>
    <div class="footer__info-wrapper">
      <p class="footer__text">© 2011–<span data-date-now></span>. ООО Континент НН. Информация, представленная на сайте не является публичной офертой и носит ознакомительный характер. <br>Ваши персональные данные при их отправке с форм обратной связи будут обрабатываться в соответствии с политикой конфиденциальности.</p>
      <a class="footer__create" href="#">Сайт разработан</a>
    </div>
  </div>
</footer>

<div class="popup" data-popup>
  <div class="popup__body">
    <form class="form" action="#">
      <fieldset class="form__inner">
        <legend class="form__title">Оставить заявку</legend>
        <fieldset class="form__label-inner">
          <label class="form__label"> <input class="form__input" type="text" placeholder="Имя*"></label> <label class="form__label"> <input class="form__input" type="text" placeholder="Номер*"></label> <label class="form__label"> <input class="form__input" type="text" placeholder="Город*"></label>
        </fieldset>
        <fieldset class="form__textarea-inner">
          <label class="form__label form__label--textarea"><textarea class="form__textarea" placeholder="Комментарий"></textarea></label>
        </fieldset>
        <fieldset class="form__politic-inner">
          <button class="form__button" type="submit">оставить заявку</button>
          <label class="fake-checkbox"> <input class="fake-checkbox__input" type="checkbox" checked> <span class="fake-checkbox__checkbox-inner">
                      <span class="fake-checkbox__checkbox"></span>
                      <span class="fake-checkbox__text">Я согласен на обработку <a class="fake-checkbox__link" href="#">персональных данных</a></span>
                    </span> </label>
        </fieldset>
      </fieldset>
    </form>
    <svg class="popup__close" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" data-close-popup>
      <g opacity="0.5">
        <path d="M18 6L6 18" stroke="#5F5F5F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M6 6L18 18" stroke="#5F5F5F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </g>
    </svg>
  </div>
</div>

<div class="popup popup--min" data-popup-min>
  <div class="popup__body">
    <form class="form" action="#">
      <fieldset class="form__inner">
        <legend class="form__title">Оставить заявку</legend>
        <fieldset class="form__label-inner">
          <label class="form__label"> <input class="form__input" type="text" placeholder="Имя*"></label> <label class="form__label"> <input class="form__input" type="text" placeholder="Номер*"></label>
        </fieldset>
        <fieldset class="form__politic-inner">
          <button class="form__button" type="submit">оставить заявку</button>
          <label class="fake-checkbox"> <input class="fake-checkbox__input" type="checkbox" checked> <span class="fake-checkbox__checkbox-inner">
                      <span class="fake-checkbox__checkbox"></span>
                      <span class="fake-checkbox__text">Я согласен на обработку <a class="fake-checkbox__link" href="#">персональных данных</a></span>
                    </span> </label>
        </fieldset>
      </fieldset>
    </form>
    <svg class="popup__close" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" data-close-popup>
      <g opacity="0.5">
        <path d="M18 6L6 18" stroke="#5F5F5F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M6 6L18 18" stroke="#5F5F5F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </g>
    </svg>
  </div>
</div>