<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preload" as="style" href="assets/css/main.min.css" onload="this.rel='stylesheet'">
  <noscript>
    <link rel="preload" as="style" href="assets/css/main.min.css">
  </noscript>
  <link rel="preconnect" href="//api-maps.yandex.ru">
  <link rel="dns-prefetch" href="//api-maps.yandex.ru">
  <link rel="icon" href="favicon.ico" sizes="32x32" type="image/x-icon">
  <link rel="icon" href="../assets/images/favicon/favicon.svg" sizes="any" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="1024x1024" href="../assets/images/favicon/apple-touch-icon-1024x1024.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/images/favicon/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="manifest" href="manifest.json">
  <meta name="msapplication-TileColor" content="#da532c">
  {{> scripts}}
  <meta name="theme-color" content="#ffffff">
  <title>WhiteHouse</title>
</head>