<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a class="header__logo-link" href="#">
        <picture>
          <source srcset="./assets/images/logo/logo-white-mobile.svg" media="(max-width: 991px)">
          <img class="header__logo logo" src="./assets/images/logo/logo-white.svg" alt="Логотип">
        </picture>
      </a>
      <nav class="header__navigation">
        <ul class="header__list">
          <li class="header__item"><a class="header__link" href="#">Главная</a></li>
          <li class="header__item"><a class="header__link" href="#">О компании</a></li>
          <li class="header__item"><a class="header__link" href="#">Оборудование</a>
            <svg class="header__more-icon">
              <use class="header__more-change" href="./assets/images/svg/set.svg#arrow-more"></use>
            </svg>
            <ul class="header__sub-list">
              <li class="header__sub-item"><a class="header__sub-link" href="#">Sorption 5000</a></li>
              <li class="header__sub-item"><a class="header__sub-link" href="#">ne 12000</a></li>
              <li class="header__sub-item"><a class="header__sub-link" href="#">ne scrub 5000</a></li>
              <li class="header__sub-item"><a class="header__sub-link" href="#">ne scrub 3000</a></li>
            </ul>
          </li>
          <li class="header__item"><a class="header__link" href="#">Отрослевые решения</a></li>
          <li class="header__item"><a class="header__link" href="#">Кейсы</a></li>
          <li class="header__item"><a class="header__link" href="#">Контакты</a></li>
        </ul>
      </nav>
      <div class="header__info-wrapper">
        <div class="header__info-icon-inner">
          <div class="header__icon-wrapper">
            <svg class="header__info-icon">
              <use class="header__info-icon-color" href="./assets/images/svg/set.svg#phone"></use>
            </svg>
          </div>
          <div class="header__info-hidden">
            <p class="header__hidden-text">График работы: будни с 09:00 до 18:00 по МСК:</p>
            <div class="header__hidden-link-inner">
              <a class="header__hidden-link" href="tel:+78129884358">+7 (812) 988-43-58</a>
              <a class="header__hidden-link" href="tel:+74950667469">+7 (495) 066-74-69</a>
            </div>
          </div>
        </div>
        <div class="header__info-icon-inner">
          <div class="header__icon-wrapper">
            <svg class="header__info-icon">
              <use class="header__info-icon-color" href="./assets/images/svg/set.svg#mail"></use>
            </svg>
          </div>
          <div class="header__info-hidden">
            <div class="header__hidden-link-inner">
              <div class="header__info-column">
                <p class="header__hidden-text">Email:</p>
                <a class="header__hidden-link" href="mailto:info@neo-engin.ru">info@neo-engin.ru</a>
              </div>
              <div class="header__info-column">
                <p class="header__hidden-text">Для поставщиков:</p>
                <a class="header__hidden-link" href="mailto:snab@neo-engin.ru">snab@neo-engin.ru</a>
              </div>

            </div>
          </div>

        </div>
      </div>
      <div class="header__menu-inner">
        <svg class="header__menu-icon">
          <use class="header__menu-icon-color" href="./assets/images/svg/set.svg#burger-menu"></use>
        </svg>
        <p class="header__menu-text">Меню</p>
      </div>
    </div>
  </div>
</header>