<section class="about">
  <div class="container">
      <div class="about__wrapper">
        <div class="about__item">
          <p class="about__subtitle">О нас</p>
          <h2 class="about__title">О компании</h2>
          <p class="about__text">Компания начала свою деятельность в 2016 году, собрав команду специалистов технического профиля. Совместно с Санкт-Петербургским Политехническим Университетом Петра Великого были разработаны собственные решения в области промышленной очистки воздуха.</p>
          <div class="about__button-inner">
            <a class="about__button" href="#">подробнее</a>
            <a class="about__all-photo" href="#">Сертификаты</a>
          </div>
        </div>
        <div class="about__item">
          <img src="./assets/images/about/1.jpg" alt="Фото">
        </div>
      </div>
  </div>
</section>