<section class="contacts">
  <div class="container">
    <div class="contacts__wrapper">
      <div class="contacts__item">
        <h2 class="contacts__title">Контакты</h2>
        <div class="contacts__info-wrapper">
          <div class="contacts__info-inner">
            <ul class="contacts__info-list">
              <li class="contacts__info-item">График работы:</li>
              <li class="contacts__info-item contacts__info-item--strong">Пн-Пт с 9:00 до 18:00</li>
            </ul>
            <ul class="contacts__info-list">
              <li class="contacts__info-item">Телефон:</li>
              <li class="contacts__info-item"><a class="contacts__info-link" href="tel:+78129884358">+7 (812) 988-43-58</a></li>
              <li class="contacts__info-item"><a class="contacts__info-link" href="tel:+74950667469">+7 (495) 066-74-69</a></li>
            </ul>

          </div>
          <div class="contacts__info-inner">
            <ul class="contacts__info-list">
              <li class="contacts__info-item">Почта:</li>
              <li class="contacts__info-item"><a class="contacts__info-link" href="mailto:info@neo-engin.ru">info@neo-engin.ru</a></li>
            </ul>
            <ul class="contacts__info-list">
              <li class="contacts__info-item">Почта для поставщиков:</li>
              <li class="contacts__info-item"><a class="contacts__info-link" href="mailto:info@neo-engin.ru">info@neo-engin.ru</a></li>
            </ul>
          </div>
        </div>
        <form class="contacts__form form" action="#">
          <fieldset class="form__inner">
            <legend class="form__title">Оставить заявку</legend>
            <fieldset class="form__label-inner">
              <label class="form__label"> <input class="form__input" type="text" placeholder="Имя*"></label> <label class="form__label"> <input class="form__input" type="tel" placeholder="Номер*"></label> <label class="form__label"> <input class="form__input" type="text" placeholder="Город*"></label>
            </fieldset>
            <fieldset class="form__textarea-inner">
              <label class="form__label form__label--textarea"><textarea class="form__textarea" placeholder="Комментарий"></textarea></label>
            </fieldset>
            <fieldset class="form__politic-inner">
              <button class="form__button" type="submit">оставить заявку</button>
              <label class="fake-checkbox"> <input class="fake-checkbox__input" type="checkbox" checked> <span class="fake-checkbox__checkbox-inner">
                      <span class="fake-checkbox__checkbox"></span>
                      <span class="fake-checkbox__text">Я согласен на обработку <a class="fake-checkbox__link" href="#">персональных данных</a></span>
                    </span> </label>
            </fieldset>
          </fieldset>
        </form>
      </div>
      <div class="contacts__ymap ymap-container">
        <div class="loader loader-default"></div>
        <div class="contacts__yandex map-yandex" id="map-yandex"></div>
      </div>
    </div>
  </div>
</section>