<section class="equipment">
  <div class="container">
    <div class="equipment__wrapper" data-tabs>
      <div class="equipment__inner" data-equipment-swiper>
        <div class="equipment__wrapper">
          <div class="equipment__tabs-module tabs-pane-show" data-tabs-pane data-copy-parent>
            <div class="equipment__info-inner">
              <p class="equipment__name">Оборудование</p>
              <h2 class="equipment__title">Установка для фильтрации и очистки газов <span class="equipment__title-color">Sorption</span></h2>
              <p class="equipment__text" data-copy-after>Для фильтрации и очистки воздуха от газообразных загрязнений. Может применяться для очистки воздушных выбросов промышленных предприятий.</p>
              <div class="equipment__button-inner">
                <a class="equipment__button" href="#">подробнее</a>
                <div class="equipment__fancybox-container" data-fancybox-container>
                  <a class="equipment__all-photo" href="./assets/images/about/1.jpg" data-fancybox="gallery-equipment">смотреть фото</a>
                  <a href="./assets/images/about/1.jpg" data-fancybox="gallery-equipment"></a>
                  <a href="./assets/images/about/1.jpg" data-fancybox="gallery-equipment"></a>
                </div>
              </div>
            </div>
            <picture class="equipment__img-wrapper" data-img-change>
              <source srcset="./assets/images/equipment/equipment-test.webp" type="image/webp">
              <img class="equipment__img" src="./assets/images/equipment/equipment-test.png" alt="Фото оборудование">
            </picture>
          </div>
          <div class="equipment__tabs-module" data-tabs-pane data-copy-parent>
            <div class="equipment__info-inner">
              <p class="equipment__name">Оборудование</p>
              <h2 class="equipment__title">Установка очистки выбросов<span class="equipment__title-color">NE LITE</span></h2>
              <p class="equipment__text" data-copy-after>NE LITE предназначена для очистки воздуха от вредных газов методом их деструкции (конверсии) до простых химических соединений, безопасных для человека и окружающей среды.</p>
              <div class="equipment__button-inner">
                <a class="equipment__button" href="#">подробнее</a>
                <div class="equipment__fancybox-container" data-fancybox-container>
                  <a class="equipment__all-photo" href="./assets/images/about/1.jpg" data-fancybox="gallery-equipment">смотреть фото</a>
                  <a href="./assets/images/about/1.jpg" data-fancybox="gallery-equipment"></a>
                  <a href="./assets/images/about/1.jpg" data-fancybox="gallery-equipment"></a>
                </div>
              </div>
            </div>
            <picture class="equipment__img-wrapper" data-img-change>
              <source srcset="./assets/images/equipment/equipment-2.webp" type="image/webp">
              <img class="equipment__img" src="./assets/images/equipment/equipment-2.png" alt="Фото оборудование">
            </picture>
          </div>
          <div class="equipment__tabs-module" data-tabs-pane data-copy-parent>
            <div class="equipment__info-inner">
              <p class="equipment__name">Оборудование</p>
              <h2 class="equipment__title">Установка плазмокаталитической очистки <span class="equipment__title-color">NE OPTIMA</span></h2>
              <p class="equipment__text" data-copy-after>NE OPTIMA предназначена для очистки воздуха от вредных газов методом их деструкции (конверсии) до простых химических соединений, безопасных для человека и окружающей среды.</p>
              <div class="equipment__button-inner">
                <a class="equipment__button" href="#">подробнее</a>
                <div class="equipment__fancybox-container" data-fancybox-container>
                  <a class="equipment__all-photo" href="./assets/images/about/1.jpg" data-fancybox="gallery-equipment">смотреть фото</a>
                  <a href="./assets/images/about/1.jpg" data-fancybox="gallery-equipment"></a>
                  <a href="./assets/images/about/1.jpg" data-fancybox="gallery-equipment"></a>
                </div>
              </div>
            </div>
            <picture class="equipment__img-wrapper" data-img-change>
              <source srcset="./assets/images/equipment/equipment-3.webp" type="image/webp">
              <img class="equipment__img" src="./assets/images/equipment/equipment-3.png" alt="Фото оборудование">
            </picture>
          </div>
          <div class="equipment__tabs-module" data-tabs-pane data-copy-parent>
            <div class="equipment__info-inner">
              <p class="equipment__name">Оборудование</p>
              <h2 class="equipment__title">Адсорбционные фильтры <span class="equipment__title-color">NE SORP</span></h2>
              <p class="equipment__text" data-copy-after>Адсорбционные фильтры NE SORP используют для очистки газов с невысоким содержанием газообразных примесей.</p>
              <div class="equipment__button-inner">
                <a class="equipment__button" href="#">подробнее</a>
                <div class="equipment__fancybox-container" data-fancybox-container>
                  <a class="equipment__all-photo" href="./assets/images/about/1.jpg" data-fancybox="gallery-equipment">смотреть фото</a>
                  <a href="./assets/images/about/1.jpg" data-fancybox="gallery-equipment"></a>
                  <a href="./assets/images/about/1.jpg" data-fancybox="gallery-equipment"></a>
                </div>
              </div>
            </div>
            <picture class="equipment__img-wrapper" data-img-change>
              <source srcset="./assets/images/equipment/equipment-4.webp" type="image/webp">
              <img class="equipment__img" src="./assets/images/equipment/equipment-4.png" alt="Фото оборудование">
            </picture>
          </div>
        </div>
        <div class="equipment__tabs-inner">
          <button class="equipment__tab-button tabs-active" type="button" data-tabs-btn>Sorption</button>
          <button class="equipment__tab-button" type="button" data-tabs-btn>NE Light</button>
          <button class="equipment__tab-button" type="button" data-tabs-btn>NE Optima</button>
          <button class="equipment__tab-button" type="button" data-tabs-btn>NE Sorb</button>
        </div>
      </div>
      <div class="equipment__control-inner">

        <div class="equipment__swiper-control" data-equipment-control>
          <div class="equipment__swiper-number">
            <div class="equipment__number equipment__number--current" data-equipment-current></div>
            <div class="equipment__number-separator">/</div>
            <div class="equipment__number equipment__number--total" data-equipment-total></div>
          </div>
            <div class="equipment__button-swiper-inner">
              <div class="equipment__button-swiper equipment__button-swiper--prev" data-equipment-prev></div>
              <div class="equipment__button-swiper equipment__button-swiper--next" data-equipment-next></div>
            </div>
          <div class="equipment__pagination swiper-pagination" data-equipment-pagination></div>
        </div>


      </div>
    </div>
  </div>
</section>