<section class="plus">
  <div class="container">
    <div class="plus__wrapper">
      <p class="plus__subtitle">Преимущества</p>
      <h2 class="plus__title">Плюсы работы с нами</h2>
      <div class="plus__inner">
        <div class="plus__item plus__item--big">
          <h3 class="plus__item-subtitle">Отечественные комплектующие</h3>
          <p class="plus__item-text">Оборудование выполняется с применением сертифицированных отечественных компонентов, <br> в том числе - катализатор </p>
          <button class="plus__more">читать далее</button>
        </div>
        <div class="plus__item plus__item--big">
          <h3 class="plus__item-subtitle">Увеличенный ресурс и эффективность</h3>
          <p class="plus__item-text">Применяемая компоновка Оборудования (вынесенный плазменный блок) – позволяет избежать отложения продуктов распада на плазменных модулях и увеличивает его </p>
          <button class="plus__more">читать далее</button>
        </div>
        <div class="plus__item">
          <h3 class="plus__item-subtitle">Высокотехнологичное и ремонтопригодное оборудования</h3>
          <p class="plus__item-text">Система управления Оборудования снабжена программируемой обратной связью по напряжению, силе тока и частоте, что позволяет продлить работуG</p>
          <button class="plus__more">читать далее</button>
        </div>
        <div class="plus__item">
          <h3 class="plus__item-subtitle">Защита от перепадов напряжения</h3>
          <p class="plus__item-text">Оборудование оснащено системой защиты от колебаний напряжения питающей сети.</p>
          <button class="plus__more">читать далее</button>
        </div>
        <div class="plus__item">
          <h3 class="plus__item-subtitle">Качественные материалы.</h3>
          <p class="plus__item-text">Материал исполнения Оборудования подбирается с учетом свойств (в т.ч. коррозионных) обрабатываемой среды.</p>
          <button class="plus__more">читать далее</button>
        </div>
      </div>
    </div>
  </div>
</section>