<section class="popular">
  <div class="container">
    <div class="popular__wrapper">
      <p class="popular__subtitle">Решения</p>
      <h2 class="popular__title">Популярные отраслевые решения</h2>
      <div class="popular__inner">
        <div class="popular__item-inner">
          <div class="popular__item" data-bg="./assets/images/popular/1.jpg" data-bg-webp="./assets/images/popular/1.webp">
            <h3 class="popular__item-subtitle">Производство лакокрасочных материалов (ЛКМ).</h3>
            <p class="popular__item-text">Производство ЛКМ характеризуется выделением летучих вредных веществ от основных производственных узлов </p>
            <a class="popular__item-button" href="#">Подробнее</a>
          </div>
          <div class="popular__item" data-bg="./assets/images/popular/2.jpg" data-bg-webp="./assets/images/popular/2.webp">
            <h3 class="popular__item-subtitle">Окрасочные и сушильные камеры промышленных предприятий</h3>
            <p class="popular__item-text">Окрасочные (покрасочные) и сушильные камеры применяются в различных отраслях промышленности: производство легковой, грузовой и спецтехники</p>
            <a class="popular__item-button" href="#">Подробнее</a>
          </div>
          <div class="popular__item" data-bg="./assets/images/popular/3.jpg" data-bg-webp="./assets/images/popular/3.webp">
            <h3 class="popular__item-subtitle">Цветная металлургия</h3>
            <p class="popular__item-text">Литье по выплавляемым моделям - один из способов получения деталей (например, из алюминия) высокой точности. </p>
            <a class="popular__item-button" href="#">Подробнее</a>
          </div>
          <div class="popular__item" data-bg="./assets/images/popular/4.jpg" data-bg-webp="./assets/images/popular/4.webp">
            <h3 class="popular__item-subtitle">Производство полимерных изделий, в том числе из вторичного сырья.</h3>
            <p class="popular__item-text">При производстве полимерных в воздух рабочей зоны попадает большое количество загрязняющих веществ (т.н. «вредностей»). Эти вещества относятся к различным классам органических соединений</p>
            <a class="popular__item-button" href="#">Подробнее</a>
          </div>
          <div class="popular__item" data-bg="./assets/images/popular/5.jpg" data-bg-webp="./assets/images/popular/5.webp">
            <h3 class="popular__item-subtitle">Хранение и розлив нефтепродуктов </h3>
            <p class="popular__item-text">Модифицированный битум с повышенными технологическими характеристиками изготавливают из дорожного, строительного и других видов битума</p>
            <a class="popular__item-button" href="#">Подробнее</a>
          </div>
          <div class="popular__item" data-bg="./assets/images/popular/6.jpg" data-bg-webp="./assets/images/popular/6.webp">
            <h3 class="popular__item-subtitle">Полиграфические производство</h3>
            <p class="popular__item-text">Окрасочные (покрасочные) и сушильные камеры применяются в различных отраслях промышленности: производство легковой, грузовой и спецтехники</p>
            <a class="popular__item-button" href="#">Подробнее</a>
          </div>
          <div class="popular__item" data-bg="./assets/images/popular/7.jpg" data-bg-webp="./assets/images/popular/7.webp">
            <h3 class="popular__item-subtitle">Лазерная резка</h3>
            <p class="popular__item-text">Литье по выплавляемым моделям - один из способов получения деталей (например, из алюминия) высокой точности. </p>
            <a class="popular__item-button" href="#">Подробнее</a>
          </div>
          <div class="popular__item" data-bg="./assets/images/popular/8.jpg" data-bg-webp="./assets/images/popular/8.webp">
            <h3 class="popular__item-subtitle">Производство ароматизаторов</h3>
            <p class="popular__item-text">При производстве полимерных в воздух рабочей зоны попадает большое количество загрязняющих веществ (т.н. «вредностей»). Эти вещества относятся к различным классам органических соединений</p>
            <a class="popular__item-button" href="#">Подробнее</a>
          </div>
          <div class="popular__item" data-bg="./assets/images/popular/1.jpg" data-bg-webp="./assets/images/popular/1.webp">
            <h3 class="popular__item-subtitle">Пищевая промышленность</h3>
            <p class="popular__item-text">Модифицированный битум с повышенными технологическими характеристиками изготавливают из дорожного, строительного и других видов битума</p>
            <a class="popular__item-button" href="#">Подробнее</a>
          </div>
          <div class="popular__item" data-bg="./assets/images/popular/10.jpg" data-bg-webp="./assets/images/popular/10.webp">
            <h3 class="popular__item-subtitle">Предприятия Водоканала, очистные сооружения</h3>
            <p class="popular__item-text">Производство ЛКМ характеризуется выделением летучих вредных веществ от основных производственных узлов </p>
            <a class="popular__item-button" href="#">Подробнее</a>
          </div>
        </div>
      </div>
      <a class="popular__link" href="#">Решение</a>
    </div>
  </div>
</section>