<section class="production">
  <div class="container">
    <div class="production__wrapper" data-tabs data-swiper-production>

      <div class="production__container">
        <div class="production__tab-content tabs-pane-show" data-tabs-pane>
          <div class="production__tab-item" >
            <div class="production__tab-item-inner">
              <p class="production__tab-subtitle">Кейсы</p>
              <h3 class="production__tab-title">Цех резки поролона, пенопласта. <br><span class="production__title-color">ООО «ЦЕНТР РЕЗКИ»</span></h3>
              <p class="production__tab-text">Задача: очистка воздуха в цехе, где производится резка поролона, пенопласта. В процессе работы в воздух выделяются вредные вещества, среди которых изоцианаты. При нарушениях техники безопасности они способны причинить серьезный вред здоровью работников.</p>
              <a class="production__tab-link production__tab-link--desk" href="#">подробнее</a>
            </div>
            <div class="production__tab-slider">
              <div class="production__swiper swiper" data-production-swiper>
                <div class="production__swiper-wrapper swiper-wrapper">
                  <div class="production__slide swiper-slide">
                    <img src="./assets/images/production/swiper-test.jpg" alt="Фото"
                         ghiw-responsive-filenames="./assets/images/production/swiper-test-mob; ./assets/images/production/swiper-test"
                         ghiw-responsive-media="max-width: 991px; min-width: 992px"
                         ghiw-responsive-extensions="jpg; webp"
                    ></div>
                  <div class="production__slide swiper-slide"><img src="./assets/images/production/swiper-test.jpg" alt="Фото"></div>
                  <div class="production__slide swiper-slide"><img src="./assets/images/production/swiper-test.jpg" alt="Фото"></div>
                </div>
                <div class="production__button production__button--next swiper-button-next" data-production-next></div>
                <div class="production__button production__button--prev swiper-button-prev" data-production-prev></div>
              </div>
            </div>
            <div class="production__button-inner">
              <a class="production__tab-link" href="#">подробнее</a>
              <div class="production__case-inner">
                <a class="production__case" href="#">все кейсы</a>
                <svg class="production__svg-icon">
                  <use href="./assets/images/svg/set.svg#arrow-black"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="production__tab-content" data-tabs-pane>
          <div class="production__tab-item" >
            <div class="production__tab-item-inner">
              <p class="production__tab-subtitle">Кейсы</p>
              <h3 class="production__tab-title">Производство битума. <br><span class="production__title-color">КОМПАНИЯ «БИТУМ+»</span></h3>
              <p class="production__tab-text">Задача: очистка воздуха в производственной зоне от вредных химических соединений, снижение концентраций углеводородов, ксилола, сероводорода. Использована установка NE 1500, интегрированная в имеющуюся систему вентиляции. С ее помощью проходит обработка газовоздушной смеси от дымов и аэрозолей, устранение вредных газов. Степень очистки 99,6%.</p>
              <a class="production__tab-link production__tab-link--desk" href="#">подробнее</a>
            </div>
            <div class="production__tab-slider">
              <div class="production__swiper swiper" data-production-swiper>
                <div class="production__swiper-wrapper swiper-wrapper">
                  <div class="production__slide swiper-slide"><img src="./assets/images/production/swiper-test.jpg" alt="Фото"></div>
                  <div class="production__slide swiper-slide"><img src="./assets/images/production/swiper-test.jpg" alt="Фото"></div>
                  <div class="production__slide swiper-slide"><img src="./assets/images/production/swiper-test.jpg" alt="Фото"></div>
                </div>
                <div class="production__button production__button--next swiper-button-next" data-production-next></div>
                <div class="production__button production__button--prev swiper-button-prev" data-production-prev></div>
              </div>
            </div>
            <div class="production__button-inner">
              <a class="production__tab-link" href="#">подробнее</a>
              <div class="production__case-inner">
                <a class="production__case" href="#">все кейсы</a>
                <svg class="production__svg-icon">
                  <use href="./assets/images/svg/set.svg#arrow-black"></use>
                </svg>
              </div>
            </div>
          </div>

        </div>

        <div class="production__tab-content" data-tabs-pane>
          <div class="production__tab-item" >
            <div class="production__tab-item-inner">
              <p class="production__tab-subtitle">Кейсы</p>
              <h3 class="production__tab-title">Очистные сооружения. <br><span class="production__title-color">МПП ВКХ «ОРЕЛВОДОКАНАЛ»</span></h3>
              <p class="production__tab-text">МПП ВКХ «Орелводоканал» является крупнейшим предприятием системы жизнеобеспечения города, предоставляет услуги по водоснабжению и водоотведению потребителям. На станции перекачки работает комплекс гидротехнического оборудования для перемещения хозяйственно-бытовых, промышленных и сточных вод на очистные сооружения. Задача: сократить объемы и уменьшить зону рассеивания химических выбросов в воздух.</p>
              <a class="production__tab-link production__tab-link--desk" href="#">подробнее</a>
            </div>
            <div class="production__tab-slider">
              <div class="production__swiper swiper" data-production-swiper>
                <div class="production__swiper-wrapper swiper-wrapper">
                  <div class="production__slide swiper-slide"><img src="./assets/images/production/swiper-test.jpg" alt="Фото"></div>
                  <div class="production__slide swiper-slide"><img src="./assets/images/production/swiper-test.jpg" alt="Фото"></div>
                  <div class="production__slide swiper-slide"><img src="./assets/images/production/swiper-test.jpg" alt="Фото"></div>
                </div>
                <div class="production__button production__button--next swiper-button-next" data-production-next></div>
                <div class="production__button production__button--prev swiper-button-prev" data-production-prev></div>
              </div>
            </div>
            <div class="production__button-inner">
              <a class="production__tab-link" href="#">подробнее</a>
              <div class="production__case-inner">
                <a class="production__case" href="#">все кейсы</a>
                <svg class="production__svg-icon">
                  <use href="./assets/images/svg/set.svg#arrow-black"></use>
                </svg>
              </div>
            </div>
          </div>

        </div>

        <div class="production__tab-content" data-tabs-pane>
          <div class="production__tab-item" >
            <div class="production__tab-item-inner">
              <p class="production__tab-subtitle">Кейсы</p>
              <h3 class="production__tab-title">Цех резки поролона, пенопласта. <br><span class="production__title-color">ООО «ЦЕНТР РЕЗКИ» </span></h3>
              <p class="production__tab-text">Задача: очистка воздуха в цехе, где производится резка поролона, пенопласта. В процессе работы в воздух выделяются вредные вещества, среди которых изоцианаты. При нарушениях техники безопасности они способны причинить серьезный вред здоровью работников.</p>
              <a class="production__tab-link production__tab-link--desk" href="#">подробнее</a>
            </div>
            <div class="production__tab-slider">
              <div class="production__swiper swiper" data-production-swiper>
                <div class="production__swiper-wrapper swiper-wrapper">
                  <div class="production__slide swiper-slide"><img src="./assets/images/production/swiper-test.jpg" alt="Фото"></div>
                  <div class="production__slide swiper-slide"><img src="./assets/images/production/swiper-test.jpg" alt="Фото"></div>
                  <div class="production__slide swiper-slide"><img src="./assets/images/production/swiper-test.jpg" alt="Фото"></div>
                </div>
                <div class="production__button production__button--next swiper-button-next" data-production-next></div>
                <div class="production__button production__button--prev swiper-button-prev" data-production-prev></div>
              </div>
            </div>
            <div class="production__button-inner">
              <a class="production__tab-link" href="#">подробнее</a>
              <div class="production__case-inner">
                <a class="production__case" href="#">все кейсы</a>
                <svg class="production__svg-icon">
                  <use href="./assets/images/svg/set.svg#arrow-black"></use>
                </svg>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="production__tab-trigger">
        <button class="production__tab-button tabs-active" data-tabs-btn>Цех резки поролона, пенопласта</button>
        <button class="production__tab-button" data-tabs-btn>Производство битума</button>
        <button class="production__tab-button" data-tabs-btn>Очистные сооружения</button>
        <button class="production__tab-button" data-tabs-btn>Тактовый налив нефтепродуктов</button>

      </div>
      <div class="production__case-inner production__case-inner--mob">
        <a class="production__case" href="#">все кейсы</a>
        <svg class="production__svg-icon">
          <use href="./assets/images/svg/set.svg#arrow-black"></use>
        </svg>
      </div>

    </div>
    <div class="production__control-inner">
      <div class="production__swiper-control" data-production-control>
        <div class="production__swiper-number">
          <div class="production__number production__number--current" data-production-current></div>
          <div class="production__number-separator">/</div>
          <div class="production__number production__number--total" data-production-total></div>
        </div>
        <div class="production__button-swiper-inner">
          <div class="production__button-swiper production__button-swiper--prev" data-productionMain-prev></div>
          <div class="production__button-swiper production__button-swiper--next" data-productionMain-next></div>
        </div>
        <div class="production__pagination swiper-pagination" data-production-pagination></div>
      </div>


    </div>
  </div>
</section>