<script src="../../../assets/js/index/custom-scripts.js"></script>
<section class="stages">
  <div class="container">
  <div class="stages__slider-inner">
    <div class="stages__stage swiper" data-stage-swiper>
      <div class="stages__stage-wrapper swiper-wrapper">
        <div class="stages__slide swiper-slide"><span class="stages__stage-count">этап</span></div>
        <div class="stages__slide swiper-slide"><span class="stages__stage-count">этап</span></div>
        <div class="stages__slide swiper-slide"><span class="stages__stage-count">этап</span></div>
        <div class="stages__slide swiper-slide"><span class="stages__stage-count">этап</span></div>
        <div class="stages__slide swiper-slide"><span class="stages__stage-count">этап</span></div>
        <div class="stages__slide swiper-slide"><span class="stages__stage-count">этап</span></div>
      </div>
    </div>
    <div class="stages__info-slider swiper" data-info-swiper>
      <div class="stages__info-wrapper swiper-wrapper">
        <div class="stages__info-slide swiper-slide">
          <div class="stage">
            <div class="stage__item">
              <h3 class="stage__subtitle">Обследование</h3>
              <p class="stage__text">Обследование источников выделения/выброса на производстве проводится с целью составления технического задания на проведение проектных работ или непосредственно на изготовление Оборудования очистки выбросов.</p>
              <p class="stage__text">В ходе обследования выполняются замеры объема выброса (м3/ч, м3/с), температуры выброса (0С) и определение концентраций компонентов выброса (с привлечением аттестованной лаборатории или с помощью замеров переносным газоанализатором). Также на месте определяется возможность локализации выброса системой вытяжной вентиляции.</p>
            </div>
            <div class="stage__item">
              <img src="./assets/images/stages/1.jpg" alt="Исследования" width="673" height="423">
            </div>
          </div>
        </div>
        <div class="stages__info-slide swiper-slide">
          <div class="stage">
            <div class="stage__item">
              <h3 class="stage__subtitle">Проектирование</h3>
              <p class="stage__text">Руководство завода определяет необходимость проведения обследования оборудования и назначает время и дату его проведения.</p>
            </div>
            <div class="stage__item">
              <img src="./assets/images/stages/2.jpg" alt="Проектирование" width="673" height="423">
            </div>
          </div>
        </div>
        <div class="stages__info-slide swiper-slide">
          <div class="stage">
            <div class="stage__item">
              <h3 class="stage__subtitle">Изготовление оборудования</h3>
              <p class="stage__text">Руководство завода определяет необходимость проведения обследования оборудования и назначает время и дату его проведения.</p>
            </div>
            <div class="stage__item">
              <img src="./assets/images/stages/3.jpg" alt="Изготовление оборудования" width="673" height="423">
            </div>
          </div>
        </div>
        <div class="stages__info-slide swiper-slide">
          <div class="stage">
            <div class="stage__item">
              <h3 class="stage__subtitle">Монтаж</h3>
              <p class="stage__text">Руководство завода определяет необходимость проведения обследования оборудования и назначает время и дату его проведения.</p>
            </div>
            <div class="stage__item">
              <img src="./assets/images/stages/4.jpg" alt="Монтаж" width="673" height="423">
            </div>
          </div>
        </div>
        <div class="stages__info-slide swiper-slide">
          <div class="stage">
            <div class="stage__item">
              <h3 class="stage__subtitle">Пуско-наладка</h3>
              <p class="stage__text">Руководство завода определяет необходимость проведения обследования оборудования и назначает время и дату его проведения.</p>
            </div>
            <div class="stage__item">
              <img src="./assets/images/stages/5.jpg" alt="Пуско-наладка" width="673" height="423">
            </div>
          </div>
        </div>
        <div class="stages__info-slide swiper-slide">
          <div class="stage">
            <div class="stage__item">
              <h3 class="stage__subtitle">Обслуживание</h3>
              <p class="stage__text">Руководство завода определяет необходимость проведения обследования оборудования и назначает время и дату его проведения.</p>
            </div>
            <div class="stage__item">
              <img src="./assets/images/stages/6.jpg" alt="Обслуживание" width="673" height="423">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>