<script src="../../../assets/js/index/custom-scripts.js"></script>
<section class="stages">
  <div class="container">
  <div class="stages__slider-inner">
    <div class="stages__stage swiper" data-stage-swiper>
      <div class="stages__stage-wrapper swiper-wrapper">
        <div class="stages__slide swiper-slide"><span class="stages__stage-count">этап</span></div>
        <div class="stages__slide swiper-slide"><span class="stages__stage-count">этап</span></div>
        <div class="stages__slide swiper-slide"><span class="stages__stage-count">этап</span></div>
        <div class="stages__slide swiper-slide"><span class="stages__stage-count">этап</span></div>
        <div class="stages__slide swiper-slide"><span class="stages__stage-count">этап</span></div>
        <div class="stages__slide swiper-slide"><span class="stages__stage-count">этап</span></div>
      </div>
    </div>
    <div class="stages__info-slider swiper" data-info-swiper>
      <div class="stages__info-wrapper swiper-wrapper">
        <div class="stages__info-slide swiper-slide">
          <div class="stage">
            <div class="stage__item">
              <h3 class="stage__subtitle">Обследование</h3>
              <p class="stage__text">Обследование источников выделения/выброса на производстве проводится с целью составления технического задания на проведение проектных работ или непосредственно на изготовление Оборудования очистки выбросов.</p>
              <p class="stage__text">В ходе обследования выполняются замеры объема выброса (м3/ч, м3/с), температуры выброса (0С) и определение концентраций компонентов выброса (с привлечением аттестованной лаборатории или с помощью замеров переносным газоанализатором).</p>
              <p class="stage__text">Также на месте определяется возможность локализации выброса системой вытяжной вентиляции.</p>
            </div>
            <div class="stage__item">
              <img src="./assets/images/stages/1.jpg" alt="Исследования" width="673" height="423">
            </div>
          </div>
        </div>
        <div class="stages__info-slide swiper-slide">
          <div class="stage">
            <div class="stage__item">
              <h3 class="stage__subtitle">Проектирование</h3>
              <p class="stage__text">Как правило, основной раздел проектной документации – В (вентиляция). На основании согласованного сторонами ТЗ подбирается необходимая модификация установки очистки выбросов, выполняется рабочая документация, в т.ч. план с расположением вентиляционного и газоочистного оборудования, аксонометрическая схема вентиляции, спецификация оборудования, паспортизация системы вентиляции и выдача задания на подключение к электроснабжению.</p>
            </div>
            <div class="stage__item">
              <img src="./assets/images/stages/2.jpg" alt="Проектирование" width="673" height="423">
            </div>
          </div>
        </div>
        <div class="stages__info-slide swiper-slide">
          <div class="stage">
            <div class="stage__item">
              <h3 class="stage__subtitle">Изготовление оборудования</h3>
              <p class="stage__text">Изготовление Оборудования выполняется на собственной площадке. Оборудование поставляется Заказчику в виде секций для удобства транспортировки и последующего монтажа на месте его размещения. Срок изготовления Оборудования – от 30 до 50 календарных дней.</p>
            </div>
            <div class="stage__item">
              <img src="./assets/images/stages/3.jpg" alt="Изготовление оборудования" width="673" height="423">
            </div>
          </div>
        </div>
        <div class="stages__info-slide swiper-slide">
          <div class="stage">
            <div class="stage__item">
              <h3 class="stage__subtitle">Монтажные работы;</h3>
              <p class="stage__text">Монтажные работы выполняются Изготовителем оборудования на заранее подготовленной Заказчиком площадке. Срок выполнения работ в- среднем от 2 до 5 рабочих дней (для одной установки).</p>
            </div>
            <div class="stage__item">
              <img src="./assets/images/stages/4.jpg" alt="Монтаж" width="673" height="423">
            </div>
          </div>
        </div>
        <div class="stages__info-slide swiper-slide">
          <div class="stage">
            <div class="stage__item">
              <h3 class="stage__subtitle">Пусконаладочные работы;</h3>
              <p class="stage__text">По факту выполнения монтажных работ Изготовитель Оборудования осуществляет пусконаладочные работы. Срок выполнения работ в-среднем от 2 до 5 рабочих дней (для одной установки). Осуществляется настройка Оборудования для конкретного технологического процесса на предприятии. Гарантийный срок на Оборудование составляет 12 месяцев.</p>
            </div>
            <div class="stage__item">
              <img src="./assets/images/stages/5.jpg" alt="Пуско-наладка" width="673" height="423">
            </div>
          </div>
        </div>
        <div class="stages__info-slide swiper-slide">
          <div class="stage">
            <div class="stage__item">
              <h3 class="stage__subtitle">Техническое Обслуживание.</h3>
              <p class="stage__text">Изготовитель оборудования осуществляет техническое обслуживание (ТО) Оборудования на основании отдельного Договора.</p>
            </div>
            <div class="stage__item">
              <img src="./assets/images/stages/6.jpg" alt="Обслуживание" width="673" height="423">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>